@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body.jokes {
  background-color: black;
  color: black;
}

body.lyrics, body.home {
  background-color: white;
  color: black;
}

div.jokes, div.lyrics {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #474747;
  color: white;
  width: 400px;
  height: 400px;
  radius: 20px;
}

h1 {
  margin: 20px 0 50px;
  text-align: center;
  color: black;
}

h1.jokes {
  color: white;
}

.homepage-container p {
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.3em;
}

.card-body .btn-dark {
  background-color: black;
  margin-bottom: 40px;
}

.card-body .punchline {
  height: 80px;
}

div.lyrics-container {
  width: 30em;
  margin: 20px auto;
}

.song-lyrics {
  white-space: pre-line;
}
