@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './cards/index';

body.jokes {
  background-color: black;
  color: black;
}

body.lyrics, body.home {
  background-color: white;
  color: black;
}

div.jokes, div.lyrics, div.weather-form-container {
  display: flex;
  justify-content: center;
}

div.jokes, div.lyrics {
  text-align: center;
}

div.weather-form-container {
  text-align: left;
}

h1 {
  margin: 20px 0 50px;
  text-align: center;
  color: black;
}

h1.jokes {
  color: white;
}

h1.lord {
  margin: 5px 0;
}

.homepage-container p {
  text-align: center;
}

div.lyrics-container {
  width: 30em;
  margin: 20px auto;
}

.song-lyrics {
  white-space: pre-line;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-form-container form {
  margin: 20px 0;
}

#lord-nav ul{
  flex-direction: row;
  text-align: center;
}

#lord-nav li {
  margin: 0 10px;
}
